<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  {{#if Football}}
  <h2>{{Football}}</h2>
  <ul>
    {{#each listFootball}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  {{/if}}
  {{#if F1}}
  <h2>{{F1}}</h2>
  <ul>
    {{#each listF1}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  {{/if}}
  {{#if Hockey}}
  <h2>{{Hockey}}</h2>
  <ul>
    {{#each listHockey}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  {{/if}}
</body>

</html>